<block-ui>
  <app-sidenav
    (onToggleSideNav)="onToggleSideNav($event)"
    *ngIf="isLoggedIn$; else unauthenticated"
  ></app-sidenav>
  <app-header
    *ngIf="isLoggedIn$ "
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
  ></app-header>
  <app-body
    *ngIf="isLoggedIn$ "
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
  >
  </app-body>
</block-ui>

<ng-template #unauthenticated>
  <router-outlet name="secondRouter"></router-outlet>
</ng-template>
